storage:
  rootDirectory: /var/lib/registry
  dedupe: true
  gc: true
  gcDelay: 1h
  gcInterval: 24h
  subPaths:
    /index.docker.io:
      rootDirectory: /var/lib/registry/index.docker.io
      dedupe: false
    /quay.io:
      rootDirectory: /var/lib/registry/quay.io
      dedupe: false
    /gcr.io:
      rootDirectory: /var/lib/registry/gcr.io
      dedupe: false
    /registry.k8s.io:
      rootDirectory: /var/lib/registry/registry.k8s.io
      dedupe: false
    /ghcr.io:
      rootDirectory: /var/lib/registry/ghcr.io
      dedupe: false

http:
  address: 0.0.0.0
  port: 5000

log:
  level: info

extensions:
  sync:
    enable: true
    registries:
      - urls:
          - https://index.docker.io
        onDemand: true
        tlsVerify: true
        content:
          - prefix: "**"
            destination: "/index.docker.io"
      - urls:
          - https://quay.io
        onDemand: true
        tlsVerify: true
        content:
          - prefix: "**"
            destination: "/quay.io"
      - urls:
          - https://gcr.io
        onDemand: true
        tlsVerify: true
        content:
          - prefix: "**"
            destination: "/gcr.io"
      - urls:
          - https://registry.k8s.io
        onDemand: true
        tlsVerify: true
        content:
          - prefix: "**"
            destination: "/registry.k8s.io"
      - urls:
          - https://ghcr.io
        onDemand: true
        tlsVerify: true
        content:
          - prefix: "**"
            destination: "/ghcr.io"
  search:
    enable: true
  scrub:
    enable: true
    interval: 24h