[Unit]
Description=nocloud-metadata
After=network.target

[Service]
Type=simple
User=nobody
Environment=NOCLOUD_METADATA_PORT={{ nocloud_metadata_port }}
ExecStart=/usr/bin/nocloud-metadata
Restart=on-abort

[Install]
WantedBy=multi-user.target