version: 2
ethernets:
{% for iface in libvirt_create_network_interfaces %}
  eth{{ loop.index0 }}:
    match:
      macaddress: "{{ iface.mac }}"
    addresses:
      - {{ iface.ip }}
{%   if iface.gateway is defined %}
{%     if iface.default_route | default(false) %}
    routes:
      - to: 0.0.0.0/0
        via: {{ iface.gateway }}
{%       if iface.gateway_onlink %}
        on-link: true
{%       endif %}
{%     endif %}
{%   endif %}
{%   if iface.dns_servers is defined and iface.dns_servers | length > 0 %}
    nameservers:
      addresses:
{%     for dns in iface.dns_servers %}
        - {{ dns }}
{%     endfor %}
{%   endif %}
{% endfor %}
