---

- name: Install dnsmasq and iPXE packages
  ansible.builtin.dnf:
    name:
      - dnsmasq
      - ipxe-bootimgs-x86
    state: present

- name: Deploy dnsmasq base configuration
  ansible.builtin.template:
    src: dnsmasq.conf.j2
    dest: /etc/dnsmasq.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart dnsmasq

- name: Deploy dnsmasq drop-in configuration
  ansible.builtin.template:
    src: dnsmasq-config.conf.j2
    dest: /etc/dnsmasq.d/dnsmasq.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart dnsmasq

- name: Create TFTP root directory
  ansible.builtin.file:
    path: /var/lib/tftpboot
    state: directory
    owner: dnsmasq
    group: dnsmasq
    mode: '0755'

- name: Copy iPXE EFI boot file to TFTP directory
  ansible.builtin.copy:
    src: /usr/share/ipxe/ipxe-snponly-x86_64.efi
    dest: /var/lib/tftpboot/ipxe-snponly-x86_64.efi
    owner: dnsmasq
    group: dnsmasq
    mode: '0644'
    remote_src: true

- name: Deploy default boot.ipxe if it does not exist
  ansible.builtin.template:
    src: boot.ipxe.j2
    dest: /var/lib/tftpboot/boot.ipxe
    owner: dnsmasq
    group: dnsmasq
    mode: '0644'
    force: false

- name: Restore SELinux context on TFTP directory
  ansible.builtin.command: restorecon -R /var/lib/tftpboot
  changed_when: false
  when:
    - ansible_selinux.status is defined
    - ansible_selinux.status == "enabled"

- name: Start dnsmasq service
  ansible.builtin.systemd:
    name: dnsmasq
    state: started

- name: Enable dnsmasq service
  ansible.builtin.systemd:
    name: dnsmasq
    enabled: true
