SUSHY_EMULATOR_LISTEN_IP = u'{{ sushy_listen_ip }}'
SUSHY_EMULATOR_LISTEN_PORT = {{ sushy_listen_port }}
SUSHY_EMULATOR_LIBVIRT_URI = u'{{ sushy_libvirt_uri }}'
SUSHY_EMULATOR_STORAGE_POOL = u'{{ sushy_storage_pool }}'
